@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');  */

/* <style>
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
</style> */

/* .bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.carte {

  transition: transform 0.2s; 

}
.carte:hover{

  transform: scale(1.1);

}
.bouton{

  border:"rounded"; 
  background-color: "border-slate-400 p-1";

}
.bouton:hover{

  background-color: "bg-slate-300";
  transform: scale(1.1);

}

/* https://medium.com/@alexanie_/navlink-component-in-react-router-b83f4a11794f */

